body {
    padding: 25px;
    background-color: pink;
    background-size: 1920px 1200px;
    opacity: 0.9;
}

#div_widgets_navi {
    text-align: left;
}


ul {
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    overflow: hidden;
    background-color: floralwhite;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    background: floralwhite;
    font-family: "Blackadder ITC";
    font-size: x-large;
}

li a:hover {
    background-color: lightgray;
}

#playlist {
    margin: 0.5em 33em;
    opacity: 1.0;
}


#game_div {
    background-color: floralwhite;
    padding: 1em;
    margin: 2em 33em;
    font-size: large;
}

table, tr, td {
    border: 1px solid black;
}

/*#p1{*/
    /*background-color: #4CAF50;*/
/*}*/
/*#map {*/
    /*background-color: lightpink;*/
/*}*/

/*#map {*/
    /*text-align: center;*/
    /*border: 10px black;*/
    /*font-size: x-large;*/
    /*!*border-collapse: separate;*!*/
    /*width: 80%;*/
    /*table-layout: fixed;*/
/*}*/

/*#map th, tr {*/
    /*border: 2px black;*/
/*}*/